{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block content%}




<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 caro-img" src="{{project.image.url}}" alt="First slide">

        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="container">
                <h6 class="display-4">{{project.title}}</h6>
                <p>By {{project.user}}</p>
                <hr class="my-4">
                <p>{{project.description}}</p>
                <hr class="my-4">
                <a target="_blank" href="{{project.link}}" class="btn login-btn btn-primary" href="#" role="button">VISIT
                    SITE</a>
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
            <div>
                
            </div>
        </div>
    </div>
</div>
</div>

<div>

    {% endblock %}