{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block content%}




<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 caro-img" src="{{project.image.url}}" alt="First slide">

        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="container">
                <h5>{{project.title}}</h5>
                <p>By {{project.user}}</p>
                <hr class="my-4">
                <p>{{project.description}}</p>
                <hr class="my-4">
                <a target="_blank" href="{{project.link}}" class="btn login-btn btn-primary" href="#" role="button">VISIT
                    SITE</a>
            </div>
            <div>
                <h6 class="mt-3">REVIEWS AND COMMENTS</h6>
                {% for review in reviews %}
                <p>Reviews:</p> 
                <p>Design - {{review.design}} | Usability - {{review.usability}} | Content -
                    {{review.content}}
                </p>
               <p>Comment: {{review.comment}}</p>
               <p>Reviewed by: {{review.user}}</p>
               <hr class="my-4">
               {% endfor %}
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
            <div>
                <form action="{% url 'rate_project' project.id%}" method="post" enctype="multipart/form-data"
                class="choice-form">
                <h5>RATE THIS SITE</h5>
                {% csrf_token%}
                {% bootstrap_form form %}
                <div class="form-group  text-center">
                    <input type="submit" class="m-4 btn btn-primary login-btn" value="RATE">
                </div>
                <input type="hidden" name="next" value="{{next}}">
            </form>
            </div>
        </div>
    </div>
</div>
</div>

<div>

    {% endblock %}